<%- include('partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <h1><%-unAuteur.nom%></h1>
                
                        <div class="card" style="width: 18rem;">
                            
                            <div class="card-body">
                                <p class="card-text"></p>
                                <a href="" class="btn btn-primary">En savoir plus</a>
                            </div>
                        </div>
                        
                    
            </div>
        </div>

    </div>

    <%- include('partials/footer.ejs') %>